$purple: rgb(71, 38, 129);

body {
    background-color: rgb(194, 194, 194);
    font-family: 'Roboto', sans-serif;  
}
  .mockup { 
    max-width: 750px;
    width: 750px;
    max-height: 1304px;
    height: 1304px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: black;
    .top {
      position: relative;
      min-height: 404px;
      height: 404;
      padding: 15px;
      color: #fff;
      background: url(https://media.fromthegrapevine.com/assets/images/2016/11/steve-jobs.jpg.824x0_q71.jpg);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;
      .nav h3 {
        margin-top: 60px;
      }
    }
    .bottom {
      background-color: #fff;
      min-height: 900px;
      height: 900px;
      z-index: 1;
      padding: 49px;
      position: relative;
      color: $purple;
      padding-top: 0px;
      h1{
        font-size: 4rem;
        font-weight: 900;
      }
      h2{
        font-size: 3rem;
        font-weight: 300;
      }
      h3{
        font-size: 2.2rem;
        font-weight: 900;
      }
      h4{
        font-size: 1.6rem;
        font-weight: 900;
      }
    }
  }
  

  

  
  

  

  

  



